body {
  font-family: Comfortaa;
  margin: 0;
  position: relative;
  background-image: url('images/texture.png');
  background-size: 30%;
  background-attachment: fixed;
  background-blend-mode: overlay;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  margin-top: 2rem;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
  width: 7.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-image: linear-gradient(to right, #4f6a90cd 0%, #84188e24 100%);
}

nav ul {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 60%;
  padding: 0%;
  margin-top: 80px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-bottom: 10px;
}

nav .upper {
  width: 50px;
  transition: width 0.2s ease;
}

nav .upper:hover {
  width: 80px;
}

main {
  padding-top: 200px;

}

h1 {
  display: flex;
  color: black;
  padding-top: 2rem;
  padding-left: 2rem;
  font-size: 2rem;
  justify-content: flex-start;
}

.black_title {
  color: #000000;
}

section {
  margin: 4rem 0;
}

.Presentation {
  background-color: #7a90a4;
  border-radius: 40px;
  height: 51rem;
}

#logo {
  width: 20rem;
  top: 10px;
  left: 50%;
  padding-bottom: 10px;
}

.nav_logo {
  width: 90px;
  transition: width 0.2s ease;
}

li {
  text-decoration: none;
}

.nav_logo:hover {
  width: 110px;
}

.arrow_down {
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 40px;
}

.arrow_down:hover {
  opacity: 0.5;
}

.presentation_container {
  display: flex;
  justify-content: space-around;
  color: white;
}

.block {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.Projet {
  display: flex;
  width: 38%;
  height: 344px;
  margin: 1.5rem;
  box-shadow: 8px 8px 10px rgb(0 0 0 / 65%);
  border-radius: 8px;
  transition: width 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.Projet:hover {
  width: 50%;
  box-shadow: 28px 28px 10px rgb(0 0 0 / 65%);
}

.Projet:hover img {
  object-fit: cover;
  object-position: top;
}

a {
  text-decoration: none;
}

.Projet a:hover p {
  opacity: 1;
}

.Projet img {
  width: 100%;
  height: 344px;
  object-fit: cover;
  border-radius: 10px;
}

.Projet a:hover img {
  opacity: 0.3;
}

.Projet p {
  position: relative;
  bottom: 90px;
  color: white;
  background-color: #203242;
  padding: 2px;
  border-top: #000000 solid 1px;
  border-bottom: #000000 solid 1px;
  opacity: 0;
  font-weight: bold;
  transition: opacity 0.3s ease-in-out;
}

.who_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.who_img {
  width: 20%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 8px 8px 10px rgb(0 0 0 / 65%);
}

.who_text {
  width: 70%;
  color: white;
  font-size: 1.5rem;
  padding: 2rem;
  text-align: justify;
  background: linear-gradient(60deg, #203242, #7a90a4);
  box-shadow: 8px 8px 10px rgb(0 0 0 / 65%);
}

.services {
  background: linear-gradient(60deg, #203242, #7a90a4);
  box-shadow: 0 0 30px rgba(0, 0, 0, .07);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 360px;
}

.service {
  text-align: center;
}

.service .icon {
  width: 60%;
}

.service p {
  display: flex;
  color: #ededed;
  font-size: 30px;
  text-shadow: black;
  text-align: center;
  justify-content: space-around;
  text-shadow: 8px 2px 5px rgb(0, 0, 0);
}

.icon {
  animation: move 2.5s infinite ease-in-out;
}

footer {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  background-image: linear-gradient(to bottom, #4f6a90f7 0%, #84188e29 100%);
  padding-bottom: 4rem;
  margin-left: 120px;
}

.footer_container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer_container h1 {
  margin-top: 1rem;
}

.contact_container {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 20px;
}

.contact_mess {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding-right: 5rem;
  padding-left: 2rem;
}

.contact {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-left: #000000 solid 3px;
}

.contact a {
  color: rgb(0, 0, 0);
}

.copyright {
  position: absolute;
  bottom: 0;
  right: 3%;
  text-align: right;
}

/* Media Queries */
@media only screen and (max-width: 1750px) {
  main {
    padding-left: 7rem;
  }
}

/* Pour les écrans de taille moyenne */
@media only screen and (max-width: 1200px) {
  h1 {
    margin-top: 0;
    padding-top: 0.5rem;
  }

  .who_img {
    width: 25%;
  }

  .who_text {
    width: 55%;
  }

  .service {
    padding: 0rem 1rem;
  }

  .services .icon {
    width: 65%;
    height: auto;
  }

  .services p {
    font-size: 22px;
  }

  .contact_mess {
    padding-left: 1rem;
    padding-right: 2rem;
  }

  .contact {
    font-size: 17px;
    padding-left: 1rem;
  }

  .Projet:hover {
    width: 38%;
  }

}

/* Pour les écrans de petite taille */
@media only screen and (max-width: 768px) {
  nav {
    display: none;
  }

  header {
    margin-top: 1rem;
  }

  #logo {
    width: 15rem;
  }

  .who_block {
    margin-top: 1rem;
  }

  .who_container {
    flex-direction: column;
  }

  .who_img {
    width: 70%;
    height: 200px;
  }

  .who_text {
    font-size: 19px;
    width: 90%;
  }

  h1 {
    padding-left: 0;
  }

  main {
    padding-top: 150px;
    padding-left: 0;
  }

  .block {
    flex-direction: column;
    align-items: center;
  }

  .services {
    height: 230px;
  }

  .services .logo {
    width: 85%;
    height: auto;
  }

  .services p {
    font-size: 15px;
  }

  .Projet {
    width: 80%;
  }


  .Projet p {
    opacity: 1;
  }

  .Projet:hover {
    width: 80%;
  }

  footer {
    margin-left: 0;
  }

  .footer_container {
    padding: 0 10px;
  }

  .contact_container {
    flex-direction: column;
    align-items: center;
  }

  .contact_mess {
    width: 90%;
    border-bottom: #000000 solid 3px;
  }

  .contact {
    border: none;
    padding: 0;
    width: 100%;
  }
}

/* Pour les écrans de très petite taille */
@media only screen and (max-width: 480px) {
  nav ul {
    margin-top: 10px;
  }

  section {
    margin: 2rem 0rem;
  }

  .presentation_container {
    flex-direction: column;
    align-items: center;
  }

  .who_text,
  .contact_mess {
    padding: 1rem;
    font-size: 14px;
  }

  .services_block {
    display: flex;
    justify-content: center;
  }

  .services {
    width: 50%;
    flex-direction: column;
    height: 700px;
  }

  .services .logo {
    width: 65%;
    height: auto;
  }

  .services p {
    font-size: 15px;
  }

  .footer_container {
    padding: 0 5px;
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}